.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 514px 557px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  animation-duration: 1000ms;
  margin: -493px auto 0 0;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: -456px auto 0 583px;
}

.u-section-1 .u-shape-1 {
  width: 569px;
  height: 675px;
  margin: -675px -13px 14px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 357px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -436px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -303px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }
}