.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 514px 505px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  animation-duration: 1000ms;
  margin: -525px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 580px;
  height: 795px;
  margin: -471px -23px 0 auto;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: -780px -11px 60px 595px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 469px;
    margin-right: 305px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 588px;
    width: 964px;
    margin-top: 165px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -579px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 85px;
  }

  .u-section-1 .u-shape-1 {
    height: 646px;
    width: 742px;
    margin-top: 182px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -638px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 826px;
    width: 566px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -818px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1890px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 448px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -560px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    width: 370px;
    height: 976px;
    margin-top: 208px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -968px;
    margin-bottom: 60px;
  }
}